.loanTitle {
	font-size:1.3em;
	font-weight:700;
	padding-bottom:30px;
}

.loanBox {
	padding:100px;
}

.loanIcon > img{
	width: 24px;
	opacity: .85;
}

.rightLoan{
	flex-direction: row;
	padding-left: 40px;
	font-size: 0.65em;
}