nav {
	font-size: 0.7em;
	text-transform: uppercase;
}

nav > div {
	padding:30px 0;
	text-align: center;
	color: #808285;
	transition: all 0.3s ease-in-out;
	cursor: pointer;
}

nav > div:hover {
	font-weight: 700;
	color:#57baff;
}